@model RouteGenieDemoApp.Infrastructure.ViewModels.LoginData
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row"><div class="col-md-12 m-md-2 p-md-2"></div></div>
<div class="row">
    
    <div class="col-md-12 bg-light rounded">
        <div class="row">
            <div id="loginImg" class="col-md-8  rounded ">

            </div>
            <div class="col-md-4 p-1">
                @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                {
                    <div class="form-group">
                        <h3 class="text-dark">Sign In</h3>
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <span class="text-danger">@Html.ValidationMessage("LoginSystemError")</span>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Username)
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control col-md-12", placeholder = "Enter your username here....", onfocus = "" })
                        @Html.ValidationMessageFor(m => m.Username)


                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control col-md-12", placeholder = "Enter your password here...." })

                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-dark">Sign In</button>
                    </div>
                    <div class="form-group">
                        @Html.ActionLink("Create New Account", "Register", "Account", new { @class = "nav-link" })  
                        @Html.ActionLink("Forgot Account?", "Forgot", "Account", new { @class = "nav-link" })
                    </div>
                    

                }
            </div>
                </div>
    </div>
  
</div>
 