@model RouteGenieDemoApp.Infrastructure.ViewModels.RegisterUserData
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="row"><div class="col-md-12 m-md-2 p-md-2"></div></div>
    <div class="row">
        <div class="col-md-12 bg-white rounded m-md-3 p-md-3">
            <h1>Registe New User</h1>
            <p>@RouteGenieDemoApp.Resources.AppMessages.AccountCreate</p>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 bg-white rounded m-md-3 p-md-3">
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Role", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @*@Html.DropDownList("Name")*@
                    @Html.DropDownList("Roles", (SelectList)ViewData["Roles"], new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn  btn-dark" value="Register" />
                </div>
            </div>

        </div>
    </div>
    <div class="row"><div class="col-md-12 m-md-2 p-md-2"></div></div>
    <div class="row">
        <div class="col-md-12 bg-white rounded m-md-3 p-md-3">
             
        </div>
    </div>
}


